<div>
    <h5>You are a planner if you are:</h5>
    <p class="sans-300">Employed by a corporation to plan and/or oversee the strategic and financial management and/or logistics of that corporation’s meetings.</p>
    <p class="sans-300">Employed by an association or not-for-profit organization to plan and/ or oversee the strategic and financial management and/or logistics of that organization’s meetings. This category also includes private universities.</p>
    <p class="sans-300">Employed by a government agency or public university to plan and/ or oversee the strategic and financial management and/or logistics of that government’s meetings.</p>
    <p class="sans-300">The sole proprietor of, or is employed or engaged by, a meeting management company and you spend 51 percent or more of your time planning and buying meeting services as a planner. You provide meeting services including strategic and financial management and/or professional meetings management services to multiple clients.</p>
</div>
