<div> 
    <h5>You are a student if you are:</h5>
    <p class="sans-300">Enrolled in a post-secondary academic program. You must be enrolled in a certificate, undergraduate or graduate program unless the academic institution defines it otherwise. Students enrolled in a certificate program will be eligible for student membership for one year but will not be eligible for the transition dues rate upon completion of their program. Proof of enrollment must be received at MPI before a student can be accepted into membership and upon renewal.</p>
</div>
