<div> 
    <h5>You are a supplier if you are:</h5>
    <p class="sans-300">Providing and/or selling products and services to the meeting industry, such as destination management, hotelier, audio-visual, florist, transportation, production or convention and visitor’s bureau. The classification of membership is not limited to the groups listed.</p>
    <p class="sans-300">The sole proprietor of, or is employed or engaged by, a meeting management company and you spend 51 percent or more of your time providing meeting/event services as a supplier. You provide meeting services including strategic and financial management and/or professional meetings management services to multiple clients.</p>
</div>
