<div class="row author">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 header margin-lg-bottom">
                <h4>About the Author</h4>
            </div>
        </div>
        <div class="row padding-md-bottom visible-xs">
            <div class="col-xs-12 text-center">
                <img class="headshot" src="https://unsplash.it/100/100?image=1005">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 padding-xl-left text-center hidden-xs">
                <img class="headshot" src="https://unsplash.it/100/100?image=1005">
            </div>
            <div class="col-sm-10 col-xs-12 bio">
                <div class="sans-700 text-md">Ryan Mateusz</div>
                <div class="text-xs">Head of Product Design at Netguru</div>
                <br>
                <p>
                    As head of product design, Mateusz holds one of the most responsilbe roles at Netguru, 
                    which provides consulting services in programming, systems integration, product design, 
                    and creating software solutions. He belives that good design in synonymous with problem 
                    solving. Mateusz takes advantage of the problem-solving approach in his day-to-day 
                    cooperation with clients - he always responds to real user needs and creates effective 
                    solutions.
                </p>
                <p>
                    <a class="btn btn-facebook-sm"><span class="icon icon-facebook center-icon"></span></a>
                    &nbsp;
                    <a class="btn btn-linkedin-sm"><span class="icon icon-linkedin2 center-icon"></span></a>
                    &nbsp;
                    <a class="btn btn-twitter-sm"><span class="icon icon-twitter center-icon"></span></a>
                    &nbsp;
                    <a class="btn btn-email-sm"><span class="icon icon-envelop center-icon"></span></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
    </div>
</div>