<div class="row padding-xl-top directory">
    <div class="col-sm-10 col-sm-offset-1 padding-lg-left padding-lg-right">
        <div class="row">
            <div class="col-sm-9 col-xs-8">
                <h4>Member Directory</h4>
            </div>
            <div class="col-sm-3 col-xs-4">
                <div class="search">
                    <span class="padding-xs-left glyphicon glyphicon-search"><input ng-keypress="vm.genericSearch($event)" ng-model="vm.genericSearchQuery" placeholder="Search"></input></span>
                </div>
            </div>
        </div>
        <div class="row margin-md-bottom" ng-if="!vm.advancedSearchOpen">
            <div class="col-xs-12">
                <a ng-click="vm.advancedSearchOpen = true" class="text-xs pull-right">Advanced Search</a>
            </div>
        </div>
        <div class="row advanced-search well margin-xs-left margin-xs-right" ng-if="vm.advancedSearchOpen">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-10">
                        <h5>Advanced Search</h5>
                    </div>
                    <div class="col-xs-2">
                        <a ng-click="vm.advancedSearchOpen = false" class="text-xs pull-right padding-sm-top"><span class="icon icon-cross"></a>
                    </div>
                </div>
                <div class="row" ng-if="vm.noUserTypeSelected">
                    <div class="col-xs-12 brand-red">
                        <span class="icon icon-warning"></span><span class="text-xs"> Please select at least one user type</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12 padding-md-top">
                        <div class="row margin-md-bottom">
                            <div class="col-xs-3">
                                <span>Name</span>
                            </div>
                            <div class="col-xs-9">
                                <input type="text" ng-model="vm.advancedSearch.name">
                            </div>
                        </div>
                        <div class="row margin-md-bottom">
                            <div class="col-xs-3">
                                <span>Company</span>
                            </div>
                            <div class="col-xs-9">
                                <input type="text" ng-model="vm.advancedSearch.company">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <span>City</span>
                            </div>
                            <div class="col-xs-9">
                                <input type="text" ng-model="vm.advancedSearch.city">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 padding-md-top">
                        <div class="row margin-md-bottom">
                            <div class="col-xs-3">
                                <span>Chapter</span>
                            </div>
                            <div class="col-xs-9">
                                <styled-ui-select value="vm.advancedSearch.chapter" menu-options="[{name: 'Dallas-Fort Worth'}, {name: 'Orange County'}, {name: 'New York City'}]" item-display-key="name" search-enabled="true"></styled-ui-select>
                            </div>
                        </div>
                        <div class="row margin-md-bottom">
                            <div class="col-xs-3">
                                <span>Country</span>
                            </div>
                            <div class="col-xs-9">
                                <styled-ui-select value="vm.advancedSearch.country" menu-options="vm.countries" item-display-key="Country1" search-enabled="true"></styled-ui-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <span>User Types</span>
                            </div>
                            <div class="col-sm-3 col-xs-4 padding-none-right">
                                <div>
                                    <input type="checkbox" id="filter-planner-checkbox" ng-model="vm.advancedSearch.planner" class="regular-checkbox"/><label for="filter-planner-checkbox"></label>
                                    <span>Planner</span>
                                </div>
                                <div class="padding-sm-top">
                                    <input type="checkbox" id="filter-supplier-checkbox" ng-model="vm.advancedSearch.supplier" class="regular-checkbox"/><label for="filter-supplier-checkbox"></label>
                                    <span>Supplier</span>
                                </div>
                                <div class="padding-sm-top visible-xs">
                                    <input type="checkbox" id="filter-other-checkbox" ng-model="vm.advancedSearch.other" class="regular-checkbox"/><label for="filter-other-checkbox"></label>
                                    <span>Other</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-4 padding-none-right padding-none-left">
                                <div>
                                    <input type="checkbox" id="filter-faculty-checkbox" ng-model="vm.advancedSearch.faculty" class="regular-checkbox"/><label for="filter-faculty-checkbox"></label>
                                    <span>Faculty</span>
                                </div>
                                <div class="padding-sm-top">
                                    <input type="checkbox" id="filter-student-checkbox" ng-model="vm.advancedSearch.student" class="regular-checkbox"/><label for="filter-student-checkbox"></label>
                                    <span>Student</span>
                                </div>
                            </div>
                            <div class="col-xs-3 padding-none-right padding-none-left hidden-xs">
                                <div>
                                    <input type="checkbox" id="filter-other-checkbox" ng-model="vm.advancedSearch.other" class="regular-checkbox"/><label for="filter-other-checkbox"></label>
                                    <span>Other</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a ng-click="vm.advancedSearchFn()" class="pull-right btn btn-primary">Apply</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 padding-xs-top">
                        <span class="pull-right text-xs">* Visitors will only see search counts<span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!vm.members" class="preview-card text-center padding-md-top padding-lg-bottom margin-lg-bottom" ng-style="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.95)),url(../images/MpiDirectoryPreview.png)'}">
            <div class="preview-contents">
                <h1>Explore our directory of {{vm.memberCount}} members</h1>
                <span class="text-md">Visitors will only be able to see search counts. <a>Join today</a> to see the full directory and get lots of other great benefits.</span>
            </div>
        </div>
        <div ng-if="vm.members">
            <div class="row margin-md-top margin-md-bottom">
                <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-ml-left padding-ml-right" ng-repeat="member in vm.members">
                    <div class="row member-card">
                        <div class="col-xs-3">
                            <img src="https://unsplash.it/100/100?image=1005" class="member-photo">
                        </div>
                        <div class="col-lg-7 col-xs-9">
                            <span class="member-name"><a ng-click="vm.openMemberInfoModal(member)">{{member.FirstName}} {{member.LastName}}</a></span>
                            <span class="member-role">{{member.Title}} <span ng-show="member.Title && member.Company.Name">at</span> {{member.Company.Name}}</span>
                            <span class="member-location">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <span> {{member.Address.City}}<span ng-if="member.Address.City && member.Address.StateProvince">,</span> {{member.Address.StateProvince}}</span>
                                <span ng-show="!member.Address.City && !member.Address.StateProvince"><i>Not Available</i></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--See more button, load more in same view by adding to the bottom-->
            <div class="row margin-lg-bottom">
                <div class="col-xs-12 text-center">
                    <a ng-click="vm.loadNextPage()" class="btn btn-transparent btn-sm">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row padding-xl-top directory" ngController="DirectoryController as vm" ng-init="vm.init(@Model.count)">
    <div class="col-sm-10 col-sm-offset-1 padding-lg-left padding-lg-right">
        <div class="row">
            <div class="col-sm-9 col-xs-8">
                <h4>Member Directory</h4>
            </div>
            <div class="col-sm-3 col-xs-4">
                <div class="search">
                    <span class="padding-xs-left glyphicon glyphicon-search"><input ng-keypress="vm.genericSearch($event)" ng-model="vm.genericSearchQuery" placeholder="Search"></input></span>
                </div>
            </div>
        </div>
        <div class="row margin-md-bottom" ng-if="!vm.advancedSearchOpen">
            <div class="col-xs-12">
                <a ng-click="vm.advancedSearchOpen = true" class="text-xs pull-right">Advanced Search</a>
            </div>
        </div>
        <div class="row advanced-search well margin-xs-left margin-xs-right" ng-if="vm.advancedSearchOpen">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-10">
                        <h5>Advanced Search</h5>
                    </div>
                    <div class="col-xs-2">
                        <a ng-click="vm.advancedSearchOpen = false" class="text-xs pull-right padding-sm-top"><span class="icon icon-cross"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12 padding-md-top">
                        <div class="row margin-md-bottom">
                            <div class="col-xs-3">
                                <span>Name</span>
                            </div>
                            <div class="col-xs-9">
                                <input type="text" ng-model="vm.advancedSearch.name">
                            </div>
                        </div>
                        <div class="row margin-md-bottom">
                            <div class="col-xs-3">
                                <span>Company</span>
                            </div>
                            <div class="col-xs-9">
                                <input type="text" ng-model="vm.advancedSearch.company">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <span>City</span>
                            </div>
                            <div class="col-xs-9">
                                <input type="text" ng-model="vm.advancedSearch.city">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 padding-md-top">
                        <div class="row margin-md-bottom">
                            <div class="col-xs-3">
                                <span>Chapter</span>
                            </div>
                            <div class="col-xs-9">
                                <styled-ui-select value="vm.advancedSearch.chapter" menu-options="[{name: 'Dallas-Fort Worth'}, {name: 'Orange County'}, {name: 'New York City'}]" item-display-key="name" search-enabled="true"></styled-ui-select>
                            </div>
                        </div>
                        <div class="row margin-md-bottom">
                            <div class="col-xs-3">
                                <span>Country</span>
                            </div>
                            <div class="col-xs-9">
                                <styled-ui-select value="vm.advancedSearch.country" menu-options="[{country1: 'United Kingdom'}, {country1: 'France'}, {country1: 'United States'}]" item-display-key="country1" search-enabled="true"></styled-ui-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <span>User Types</span>
                            </div>
                            <div class="col-sm-3 col-xs-4 padding-none-right">
                                <div>
                                    <input type="checkbox" id="filter-planner-checkbox" ng-model="vm.advancedSearch.planner" class="regular-checkbox" /><label for="filter-planner-checkbox"></label>
                                    <span>Planner</span>
                                </div>
                                <div class="padding-sm-top">
                                    <input type="checkbox" id="filter-supplier-checkbox" ng-model="vm.advancedSearch.supplier" class="regular-checkbox" /><label for="filter-supplier-checkbox"></label>
                                    <span>Supplier</span>
                                </div>
                                <div class="padding-sm-top visible-xs">
                                    <input type="checkbox" id="filter-other-checkbox" ng-model="vm.advancedSearch.other" class="regular-checkbox" /><label for="filter-other-checkbox"></label>
                                    <span>Other</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-4 padding-none-right padding-none-left">
                                <div>
                                    <input type="checkbox" id="filter-faculty-checkbox" ng-model="vm.advancedSearch.faculty" class="regular-checkbox" /><label for="filter-faculty-checkbox"></label>
                                    <span>Faculty</span>
                                </div>
                                <div class="padding-sm-top">
                                    <input type="checkbox" id="filter-student-checkbox" ng-model="vm.advancedSearch.student" class="regular-checkbox" /><label for="filter-student-checkbox"></label>
                                    <span>Student</span>
                                </div>
                            </div>
                            <div class="col-xs-3 padding-none-right padding-none-left hidden-xs">
                                <div>
                                    <input type="checkbox" id="filter-other-checkbox" ng-model="vm.advancedSearch.other" class="regular-checkbox" /><label for="filter-other-checkbox"></label>
                                    <span>Other</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a ng-click="vm.advancedSearchOpen = false" class="pull-right btn btn-primary">Apply</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 padding-xs-top">
                        <span class="pull-right text-xs">* Visitors will only see search counts<span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!vm.members" class="text-center">
            <h3>Explore our directory of {{vm.memberCount}} members</h3>
        </div>
        <div ng-if="vm.members">
            <div class="row margin-md-top margin-md-bottom">
                <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-ml-left padding-ml-right" ng-repeat="member in vm.members">
                    <div class="row member-card">
                        <div class="col-xs-3">
                            <img src="https://unsplash.it/100/100?image=1005" class="member-photo">
                        </div>
                        <div class="col-lg-7 col-xs-9">
                            <span class="member-name">{{member.FirstName}} {{member.LastName}}</span>
                            <span class="member-contact" ng-if="member.Email1"><span class="icon icon-address-book"></span> {{member.Email1}}</span>
                            <span class="member-contact" ng-if="member.Phone.CountryCode && member.Phone.AreaCode && member.Phone.Phone">{{member.Phone.CountryCode}}-{{member.Phone.AreaCode}}-{{member.Phone.Phone}}</span>
                            <span class="member-role">{{member.Title}} <span ng-if="member.Title && member.Company.Name">at</span> {{member.Company.Name}}</span>
                            <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> {{member.Address.City}}, {{member.Address.StateProvince}}</span></span>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--See more button, load more in same view by adding to the bottom-->
            <!---<div class="row margin-lg-bottom">
                <div class="col-xs-12 text-center">
                    <a ng-click="vm.loadNextPage()" class="btn btn-transparent btn-sm">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>-->

