<!--<div class="row padding-xl-top directory">
    <div class="col-sm-10 col-sm-offset-1 padding-lg-left padding-lg-right">
        <div class="row">
            <div class="col-xs-8">
                <h4>Dallas-Fort Worth Chapter Members</h4>
            </div><div class="col-xs-4">
                <input class="pull-right" placeholder="Search members">
            </div>
        </div>
        <div class="row margin-md-top margin-xl-bottom">
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">

                <table class="table off-grey-border">
                    <tr>
                        <td class="picture-column">
                            <img src="https://unsplash.it/100/100?image=1005" class="member-photo">
                        </td>
                        <td class="info-column">
                            <div>
                                <span class="member-name">Ryan Chen</span>
                                <br>
                                <span class="member-role">Senior Event Planner at Credera blah blah blah blah more stuff words la la la yay</span>
                                <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Dallas, TX</span></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">

                <table class="table off-grey-border">
                    <tr>
                        <td class="picture-column">
                            <img src="https://unsplash.it/100/100?image=1005" class="member-photo">
                        </td>
                        <td class="info-column">
                            <div>
                                <span class="member-name">Ryan Chen</span>
                                <br>
                                <span class="member-role">Senior Event Planner at Credera</span>
                                <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Dallas, TX</span></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            
        </div>
    </div>
</div>-->



<div class="row padding-xl-top directory">
    <div class="col-sm-10 col-sm-offset-1 padding-lg-left padding-lg-right">
        <div class="row">
            <div class="col-xs-9">
                <h4>Dallas-Fort Worth Chapter Members</h4>
            </div>
            <div class="col-xs-3">
                <div class="search">
                    <span class="padding-xs-left glyphicon glyphicon-search"></span>
                    <input placeholder="Search members"></input>
                </div>
            </div>
        </div>
        <div class="row margin-md-top margin-md-bottom">
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=1005" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Ryan Chen</span>
                        <span class="member-role">Senior Event Planner at Credera</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Dallas, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=1083" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Eliza Alvarado</span>
                        <span class="member-role">International Event Coordinator at Hilton</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Addison, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=1027" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Margaret Sharp</span>
                        <span class="member-role">Technical Conference Manager at PwC</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Dallas, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=996" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Katharine Williams</span>
                        <span class="member-role">Educational Conference Coordinator at Richardson ISD</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Richardson, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=978" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Lucile Meyer</span>
                        <span class="member-role">Senior Event Planner at Credera</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Arlington, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=1001" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Jared Cohen</span>
                        <span class="member-role">Senior Event Planner at Credera</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Dallas, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=839" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Rosalie Higgins</span>
                        <span class="member-role">Hospitality Consultant at Credera</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Carrollton, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=883" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Raymond Cunningham</span>
                        <span class="member-role">Associate Event Planner at Perot Museum of Nature and Science</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Dallas, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=838" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Edna McKinney</span>
                        <span class="member-role">Student at SMU Plano Campus</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Plano, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=685" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Samuel Goodman</span>
                        <span class="member-role">Hospitality Consultant at Credera</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Fort Worth, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=661" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Lucas Brock</span>
                        <span class="member-role">Associate Event Planner at Perot Museum of Nature and Science</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> McKinney, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=832" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Maggie Doyle</span>
                        <span class="member-role">Student at SMU Plano Campus</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Plano, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=823" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Ruth Cortez</span>
                        <span class="member-role">Hospitality Consultant at Credera</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Garland, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=822" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Polly Blair</span>
                        <span class="member-role">Associate Event Planner at Perot Museum of Nature and Science</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Dallas, TX</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 padding-md-bottom padding-lg-right">
                <div class="row member-card">
                    <div class="col-xs-3">
                        <img src="https://unsplash.it/100/100?image=770" class="member-photo">
                    </div>
                    <div class="col-lg-7 col-md-9">
                        <span class="member-name">Jeffery McCarthy</span>
                        <span class="member-role">Student at SMU Plano Campus</span>
                        <span class="member-location"><span class="glyphicon glyphicon-map-marker"></span><span> Plano, TX</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-lg-bottom">
            <div class="col-xs-12 text-center">
                <ul uib-pagination boundary-links="false" total-items="100" items-per-page="15" ng-model="" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
        </div>
    </div>
</div>