<!-- Event template when an image is present -->
<div class="row event-page ">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="row padding-lg-top padding-lg-bottom">
            <div class="col-sm-8">
                <div class="main-image" ng-style="{'background-image': 'url(https://unsplash.it/900/450?image=998)'}"></div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ad-card">
                            <div class="padding-ml-top">Advertisment</div>
                            <img class="img-responsive" src="https://unsplash.it/300/250?image=694">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-lg-bottom">
            <div class="col-xs-8">
                <div>
                    <h1 class="margin-none-top">DFW Event Planners Networking Session</h1>
                </div>
                <div class="category padding-md-bottom">
                    Networking
                </div>
                <p>Join the DFW chapter of Meeting Professionals International as event planners from all around the metroplex gather to expand their networks! This is a perfect opportunity to meet individuals with careers and goals that look like yours. Light bites and drinks will be served.</p>
                <p>This event will be in the Trinity Ballroom at the Omni Dallas Hotel. Tickets purchased before June 1st will have the early-bird price of just $15. After that, ticket price will increase to $25. Valet parking is available and can be validated at the registration booth at the event.</p>  
            </div>
            <div class="col-sm-4 padding-lg-left">
                <div class="row event-date">
                    <div class="col-sm-2">
                        <span class="icon icon-calendar text-xl"></span>
                    </div>
                    <div class="col-sm-10">
                        <div class="header">June 18, 2017</div>
                        <div>6:00pm-8:30pm</div>
                    </div>
                </div>
                <div class="row event-location">
                    <div class="col-sm-2">
                        <span class="icon icon-location2 text-xl"></span>
                    </div>
                    <div class="col-sm-10">
                        <div class="header">Omni Dallas Hotel</div>
                        <div>Trinity Ballroom</div>
                        <div><a target="_blank" href="https://www.google.com/maps/place/Omni+Dallas+Hotel/@32.7752165,-96.8064686,17z/data=!3m2!4b1!5s0x864e9910c982e34f:0x64dca853d59c1959!4m5!3m4!1s0x864e9910ab9cdfa5:0xb450dd1534bcf5e7!8m2!3d32.775212!4d-96.8042799">View on map</a></div>
                    </div>
                </div>
                <div class="row event-contact">
                    <div class="col-sm-2">
                        <span class="icon icon-user text-xl"></span>
                    </div>
                    <div class="col-sm-10">
                        <div class="header">Organizer</div>
                        <div><strong>Sharon Stevenson, CMP</strong></div>
                        <div><strong>Phone:</strong> 972-555-3348</div>
                        <div><strong>Email:</strong> <a href="mailto:sstevenson@event.org">sstevenson@event.org</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center padding-md-top">
                        <a class="btn btn-lg btn-transparent">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Event template when an image is NOT present -->
<!--<div class="row event-page ">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="row padding-lg-top padding-lg-bottom">
            <div class="col-sm-8">
                <div>
                    <h1 class="margin-none-top">DFW Event Planners Networking Session</h1>
                </div>
                <div class="category padding-md-bottom">
                    Networking
                </div>
                <div class="row padding-lg-left padding-md-bottom">
                    <div class="col-sm-6">
                        <div class="row event-date">
                            <div class="col-sm-2">
                                <span class="icon icon-calendar text-xl"></span>
                            </div>
                            <div class="col-sm-10">
                                <div class="header">June 18, 2017</div>
                                <div>6:00pm-8:30pm</div>
                            </div>
                        </div>
                        <div class="row event-location">
                            <div class="col-sm-2">
                                <span class="icon icon-location2 text-xl"></span>
                            </div>
                            <div class="col-sm-10">
                                <div class="header">Omni Dallas Hotel</div>
                                <div>Trinity Ballroom</div>
                                <div><a target="_blank" href="https://www.google.com/maps/place/Omni+Dallas+Hotel/@32.7752165,-96.8064686,17z/data=!3m2!4b1!5s0x864e9910c982e34f:0x64dca853d59c1959!4m5!3m4!1s0x864e9910ab9cdfa5:0xb450dd1534bcf5e7!8m2!3d32.775212!4d-96.8042799">View on map</a></div>
                            </div>
                        </div>
                        <div class="row event-contact">
                            <div class="col-sm-2">
                                <span class="icon icon-user text-xl"></span>
                            </div>
                            <div class="col-sm-10">
                                <div class="header">Organizer</div>
                                <div><strong>Sharon Stevenson, CMP</strong></div>
                                <div><strong>Phone:</strong> 972-555-3348</div>
                                <div><strong>Email:</strong> <a href="mailto:sstevenson@event.org">sstevenson@event.org</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Join the DFW chapter of Meeting Professionals International as event planners from all around the metroplex gather to expand their networks! This is a perfect opportunity to meet individuals with careers and goals that look like yours. Light bites and drinks will be served.</p>
                <p>This event will be in the Trinity Ballroom at the Omni Dallas Hotel. Tickets purchased before June 1st will have the early-bird price of just $15. After that, ticket price will increase to $25. Valet parking is available and can be validated at the registration booth at the event.</p>  
                <div>
                    <a class="btn btn-lg btn-transparent">Register Now</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ad-card">
                            <div class="padding-ml-top">Advertisment</div>
                            <img class="img-responsive" src="https://unsplash.it/300/250?image=694">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->