<form name="vm.generalInformationForm" ng-submit="vm.saveGeneralInformation()" novalidate>
    <div class="row">
        <div class="col-xs-12">
            <h4>Personal Information</h4>
        </div>
    </div>
    <div class="row" ng-if="vm.generalInformationForm.$submitted && vm.generalInformationForm.$invalid">
        <div class="col-xs-12">
            <span class="brand-red">Please fill out the required fields</span>
        </div>
    </div>
    <div class="row padding-md-top">
        <div class="col-xs-3">
            <span>Name</span>
        </div>
        <div class="col-xs-4">
            <input type="text" name="first" ng-model="vm.generalInformationForm.firstName" ng-class="{'error': vm.generalInformationForm.$submitted && vm.generalInformationForm.first.$error.required}" placeholder="First" required>
        </div>
        <div class="col-xs-5">
            <input type="text" name="last" ng-model="vm.generalInformationForm.lastName" ng-class="{'error': vm.generalInformationForm.$submitted && vm.generalInformationForm.last.$error.required}" placeholder="Last" required>
        </div>
    </div>
    <div class="row padding-md-top">
        <div class="col-xs-3">
            <span>Gender</span>
        </div>
        <div class="col-xs-9">
            <styled-ui-select value="vm.generalInformationForm.gender" menu-options="[{name:'Male'},{name:'Female'}, {name:'Prefer not to answer'}]" item-display-key="name" search-enabled="false"></styled-ui-select>
        </div>
    </div>
    <div class="row padding-md-top">
        <div class="col-xs-3">
            <span>Designations</span>
        </div>
        <div class="col-xs-9">
            <input type="checkbox" id="cmm-designation-checkbox" ng-model="vm.generalInformationForm.designations.cmm" class="regular-checkbox"/><label for="cmm-designation-checkbox"></label>
            <span>CMM</span>
            &nbsp;&nbsp;
            <input type="checkbox" id="cmp-designation-checkbox" ng-model="vm.generalInformationForm.designations.cmp" class="regular-checkbox"/><label for="cmp-designation-checkbox"></label>
            <span>CMP</span>
            &nbsp;&nbsp;
            <input type="checkbox" id="other-designation-checkbox" ng-model="vm.generalInformationForm.designations.other" class="regular-checkbox"/><label for="other-designation-checkbox"></label>
            <span>Other</span>
        </div>
    </div>
    <div class="row padding-md-top" ng-if="vm.generalInformationForm.designations.other">
        <div class="col-xs-9 col-xs-offset-3">
            <input type="text" name="designationOther" ng-model="vm.generalInformationForm.designation.specificName" ng-class="{'error': vm.generalInformationForm.$submitted && vm.generalInformationForm.designationOther.$error.required}" placeholder="Please specify" required>
        </div>
    </div>
    <div class="row padding-md-top">
        <div class="col-xs-3">
            <span>Year You Joined Meetings Industry</span>
        </div>
        <div class="col-xs-9">
            <input type="text" name="years" ng-model="vm.generalInformationForm.yearsJoinedIndustry">
        </div>
    </div>
    <div class="row margin-lg-top">
        <div class="col-xs-12">
            <h4>Employement Information</h4>
        </div>
    </div>
    <div class="row padding-md-top">
        <div class="col-xs-3">
            <span>Job Title</span>
        </div>
        <div class="col-xs-9">
            <input type="text" name="title" ng-model="vm.generalInformationForm.jobTitle">
        </div>
    </div>
    <div class="row padding-md-top">
        <div class="col-xs-3">
            <span>Job Classification</span>
        </div>
        <div class="col-xs-9">
            <!--<input type="text" name="classification" ng-model="vm.generalInformationForm.jobClassification">-->
            <styled-ui-select value="vm.generalInformationForm.jobClassification" menu-options="[{name:'Manager'},{name:'Executive'}, {name:'Staff'}]" item-display-key="name" search-enabled="false"></styled-ui-select>
        </div>
    </div>
    <div class="row padding-md-top">
        <div class="col-xs-3">
            <span>Company</span>
        </div>
        <div class="col-xs-9">
            <!--<styled-typeahead value="vm.generalInformationForm.company" menu-options="['Credera', 'MPI', 'PepsiCo', 'PwC', 'Will Reed Jobs', 'Baylor Scott & White']" enter-value="true"></styled-typeahead>-->
            <!--<styled-ui-select value="vm.generalInformation.company" menu-options="vm.companies" item-display-key="name" search-enabled="true"></styled-ui-select>-->
            <styled-typeahead value="vm.generalInformationForm.company" menu-options="vm.companies" item-display-key="name" enter-value="true"></styled-typeahead>
            <span class="text-xxs">If your company is not listed in the dropdown, just type in the name.</span>
        </div>
    </div>
    <div class="row padding-md-top">
        <div class="col-xs-3">
            <span>Industry</span>
        </div>
        <div class="col-xs-9">
            <!--<styled-dropdown value="vm.generalInformation.industry" menu-options="vm.industries" item-display-key="name"></styled-dropdown>-->
            <styled-ui-select value="vm.generalInformationForm.industry" menu-options="vm.industries" item-display-key="name" search-enabled="false"></styled-ui-select>
        </div>
    </div>
    <div class="row padding-md-top">
        <div class="col-xs-3">
            <span>Company Website</span>
        </div>
        <div class="col-xs-9">
            <input type="url" name="website" ng-model="vm.generalInformationForm.companyWebsite">
        </div>
    </div>
    <div class="row padding-md-top">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary pull-right" ng-class="{'disabled': vm.generalInformationForm.$pristine}">Save changes</button>
        </div>
    </div>
</form>
