<form name="vm.emailPreferencesForm" ng-submit="vm.saveContactInformation()" novalidate>
    <div class="row">
        <div class="col-xs-12 padding-md-bottom">
            <h4>MPI Global Communication Preferences</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <input type="checkbox" id="print-magazine-checkbox" ng-model="vm.emailPreferencesForm.printMeetingProfessional" class="regular-checkbox"/><label for="print-magazine-checkbox"></label>
                &nbsp;
                <span class="sans-500 text-sm">The Meeting Professional - Print</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 margin-lg-left margin-md-bottom">
            <p>
                <span>MPI's award-winning magazine delivers relevant, member-focused content on meeting and event industry news, trends, best practices, and issues important to our members.</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <input type="checkbox" id="digital-magazine-checkbox" ng-model="vm.emailPreferencesForm.digitalMeetingProfessional" class="regular-checkbox"/><label for="digital-magazine-checkbox"></label>
                &nbsp;
                <span class="sans-500 text-sm">The Meeting Professional - Digital</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 margin-lg-left margin-md-bottom margin-md-bottom">
            <p>
                <span>Digital version of The Meeting Professional</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <input type="checkbox" id="spotlight-checkbox" ng-model="vm.emailPreferencesForm.mpiSpotlight" class="regular-checkbox"/><label for="spotlight-checkbox"></label>
                &nbsp;
                <span class="sans-500 text-sm">MPIspotlight</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 margin-lg-left margin-md-bottom">
            <p>
                <span>Publishes bi-weekly on Thursdays. The first issue showcases content from the award-winning member magazine, The Meeting Professional, while the second contains professional development articles.</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <input type="checkbox" id="pulse-checkbox" ng-model="vm.emailPreferencesForm.mpiPulse" class="regular-checkbox"/><label for="pulse-checkbox"></label>
                &nbsp;
                <span class="sans-500 text-sm">MPIpulse</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 margin-lg-left margin-md-bottom">
            <p>
                <span>Publishes every Tuesday with the latest news and information about the meeting and event industry and features on MPI members and chapters.</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <input type="checkbox" id="news-brief-checkbox" ng-model="vm.emailPreferencesForm.mpiNewsBrief" class="regular-checkbox"/><label for="news-brief-checkbox"></label>
                &nbsp;
                <span class="sans-500 text-sm">MPINewsBrief</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 margin-lg-left margin-md-bottom">
            <p>
                <span>Curated newsletter publishes every Monday, Wednesday, and Friday featuring broad-based industry news.</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <input type="checkbox" id="events-checkbox" ng-model="vm.emailPreferencesForm.conferencesEvents" class="regular-checkbox"/><label for="events-checkbox"></label>
                &nbsp;
                <span class="sans-500 text-sm">Conferences &amp; Events</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 margin-lg-left margin-md-bottom">
            <p>
                <span>Notifications and invitations to MPI and MPI partner events.</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <input type="checkbox" id="development-checkbox" ng-model="vm.emailPreferencesForm.professionalDevelopment" class="regular-checkbox"/><label for="development-checkbox"></label>
                &nbsp;
                <span class="sans-500 text-sm">Professional Development</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 margin-lg-left margin-md-bottom">
            <p>
                <span>Notifications regarding new educational offerings and certifications.</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <input type="checkbox" id="foundation-checkbox" ng-model="vm.emailPreferencesForm.mpiFoundation" class="regular-checkbox"/><label for="foundation-checkbox"></label>
                &nbsp;
                <span class="sans-500 text-sm">MPI Foundation</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 margin-lg-left margin-md-bottom">
            <p>
                <span>Learn about what the MPI Foundation is doing and how you can benefit and contribute.</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <input type="checkbox" id="marketplace-checkbox" ng-model="vm.emailPreferencesForm.globalMarketplace" class="regular-checkbox"/><label for="marketplace-checkbox"></label>
                &nbsp;
                <span class="sans-500 text-sm">Global MarketPlace</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 margin-lg-left margin-md-bottom">
            <p>
                <span>Through strategic sponsorships and advertising, MPI connects you directly with the audience that matters most with an online supplier directory.</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <input type="checkbox" id="third-party-checkbox" ng-model="vm.emailPreferencesForm.thirdPartyOffers" class="regular-checkbox"/><label for="third-party-checkbox"></label>
                &nbsp;
                <span class="sans-500 text-sm">Third Party Offers</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 margin-lg-left margin-md-bottom">
            <p>
                <span>Receive occasional updates and offers from select 3rd party partners.</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                <input type="checkbox" id="survey-checkbox" ng-model="vm.emailPreferencesForm.researchSurveys" class="regular-checkbox"/><label for="survey-checkbox"></label>
                &nbsp;
                <span class="sans-500 text-sm">Research/Surveys</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 margin-lg-left margin-md-bottom">
            <p>
                <span>Be a part of shaping the meeting and event industry by providing your valuable opinions and knowledge through surveys and research initiatives.</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                 <input type="checkbox" id="directory-checkbox" ng-model="vm.emailPreferencesForm.directory" class="regular-checkbox"/><label for="directory-checkbox"></label>
                &nbsp;
                <span class="sans-500 text-sm">Directory</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 margin-lg-left margin-md-bottom">
            <p>
                <span>Include my information in MPI chapter print directories.</span>
            </p>
        </div>
    </div>
    <div class="row padding-md-top">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary pull-right" ng-class="{'disabled': vm.emailPreferencesForm.$pristine}">Save changes</button>
        </div>
    </div>
</form>