<div class="row">
    <div class="col-xs-12 white bg-blue-gradient">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 hidden-xs padding-lg-left padding-lg-right">
                <h3>Manage Your Account</h3>
            </div>
        </div>
    </div>
</div>
<div class="row profile-settings">
    <div class="col-sm-10 col-sm-offset-1 hidden-xs padding-lg-left padding-lg-right margin-lg-bottom">
        <div class="row margin-lg-top">
            <div class="col-md-3">
                <uib-tabset active="activePill" vertical="true" type="pills" class="off-grey-border">
                    <uib-tab index="0" select="vm.selectedTabIndex = 0">
                        <uib-tab-heading>
                            <span class="icon icon-user">&nbsp;</span>General Information
                        </uib-tab-heading>
                    </uib-tab>
                    <uib-tab index="1" select="vm.selectedTabIndex = 1">
                        <uib-tab-heading>
                            <span class="icon icon-address-book">&nbsp;</span>Contact
                        </uib-tab-heading>
                    </uib-tab>
                    <uib-tab index="2" select="vm.selectedTabIndex = 2">
                        <uib-tab-heading>
                            <span class="icon icon-credit-card">&nbsp;</span>Membership and Billing
                        </uib-tab-heading>
                    </uib-tab>
                    <uib-tab index="3" select="vm.selectedTabIndex = 3">
                        <uib-tab-heading>
                            <span class="icon icon-cog">&nbsp;</span>Settings
                        </uib-tab-heading>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div class="col-md-8 col-md-offset-1">
                <div ng-show="vm.selectedTabIndex == 0">
                    <!--<h4>Personal Information</h4>-->
                    <div ui-view="personal-info"></div>
                </div>
                <div ng-show="vm.selectedTabIndex == 1">
                    <!--<h4>Contact Information</h4>-->
                    <div ui-view="contact"></div>
                </div>
                <div ng-show="vm.selectedTabIndex == 2">
                    <h4>Membership and Billing</h4>
                </div>
                <div ng-show="vm.selectedTabIndex == 3">
                    <h4>Settings</h4>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="row">
    <div class="col-xs-12 white bg-blue-gradient">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 hidden-xs padding-lg-left padding-lg-right">
                <h3>Manage Your Account</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 hidden-xs padding-lg-left padding-lg-right margin-lg-bottom">
        <div class="row">
            <ul class="nav nav-pills nav-stacked col-md-3">
                <li class="active"><a href="#tab_a" data-toggle="pill">General Information</a></li>
                <li><a href="#tab_b" data-toggle="pill">Pill B</a></li>
                <li><a href="#tab_c" data-toggle="pill">Pill C</a></li>
                <li><a href="#tab_d" data-toggle="pill">Pill D</a></li>
            </ul>
            <div class="tab-content col-md-9">
                <div class="tab-pane active" id="tab_a">
                    <h4>Pane A</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                        ac turpis egestas.</p>
                </div>
                <div class="tab-pane" id="tab_b">
                    <h4>Pane B</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                        ac turpis egestas.</p>
                </div>
                <div class="tab-pane" id="tab_c">
                    <h4>Pane C</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                        ac turpis egestas.</p>
                </div>
                <div class="tab-pane" id="tab_d">
                    <h4>Pane D</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                        ac turpis egestas.</p>
                </div>
            </div>
        </div>
    </div>
</div>-->





