<div class="row">
    <div class="col-xs-12 white bg-blue-gradient">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 padding-lg-left padding-lg-right">
                <h3>Manage Your Account</h3>
            </div>
        </div>
    </div>
</div>
<div class="row profile-settings">
    <div class="col-md-10 col-md-offset-1 col-xs-12 padding-lg-left padding-lg-right margin-lg-bottom">
        <div class="row hidden-sm hidden-xs margin-lg-top">
            <div class="col-md-3">
                <uib-tabset active="activePill" vertical="true" type="pills" class="off-grey-border">
                    <uib-tab index="0" select="vm.selectedTabIndex = 0">
                        <uib-tab-heading>
                            <span class="icon icon-user">&nbsp;</span>General Information
                        </uib-tab-heading>
                    </uib-tab>
                    <uib-tab index="1" select="vm.selectedTabIndex = 1">
                        <uib-tab-heading>
                            <span class="icon icon-address-book">&nbsp;</span>Contact
                        </uib-tab-heading>
                    </uib-tab>
                    <uib-tab index="2" select="vm.selectedTabIndex = 2">
                        <uib-tab-heading>
                            <span class="icon icon-envelop">&nbsp;</span>Manage Email Preferences
                        </uib-tab-heading>
                    </uib-tab>
                    <uib-tab index="3" select="vm.selectedTabIndex = 3">
                        <uib-tab-heading>
                            <span class="icon icon-pencil">&nbsp;</span>Demographic Information
                        </uib-tab-heading>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div class="col-md-8 col-md-offset-1">
                <div ng-show="vm.selectedTabIndex == 0">
                    <div ui-view="personal-info"></div>
                </div>
                <div ng-show="vm.selectedTabIndex == 1">
                    <div ui-view="contact"></div>
                </div>
                <div ng-show="vm.selectedTabIndex == 2">
                    <div ui-view="email-preferences"></div>
                </div>
                <div ng-show="vm.selectedTabIndex == 3">
                    <div ui-view="demographic-info"></div>
                </div>
            </div>
        </div>
        <div class="row margin-lg-top visible-sm visible-xs">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <uib-accordion>
                    <div uib-accordion-group class="panel-default" is-open="vm.generalInformationIsOpen">
                        <uib-accordion-heading>
                            <span class="text-md brand-blue"><span class="icon icon-user">&nbsp;</span>General Information <i class="glyphicon pull-right padding-xxs-top text-xxs" ng-class="{'glyphicon-chevron-right': vm.generalInformationIsOpen, 'glyphicon-chevron-down': !vm.generalInformationIsOpen}"></i></span>
                        </uib-accordion-heading>
                        <div ui-view="personal-info"></div>
                    </div>
                </uib-accordion>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <uib-accordion>
                    <div uib-accordion-group class="panel-default" is-open="vm.contactIsOpen">
                        <uib-accordion-heading>
                            <span class="text-md brand-blue"><span class="icon icon-address-book">&nbsp;</span>Contact <i class="glyphicon pull-right padding-xxs-top text-xxs" ng-class="{'glyphicon-chevron-right': vm.contactIsOpen, 'glyphicon-chevron-down': !vm.contactIsOpen}"></i></span>
                        </uib-accordion-heading>
                        <div ui-view="contact"></div>
                    </div>
                </uib-accordion>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <uib-accordion>
                    <div uib-accordion-group class="panel-default" is-open="vm.emailPrefsIsOpen">
                        <uib-accordion-heading>
                            <span class="text-md brand-blue"><span class="icon icon-envelop">&nbsp;</span>Manage Email Preferences <i class="glyphicon pull-right padding-xxs-top text-xxs" ng-class="{'glyphicon-chevron-right': vm.emailPrefsIsOpen, 'glyphicon-chevron-down': !vm.emailPrefsIsOpen}"></i></span>
                        </uib-accordion-heading>
                        <div ui-view="email-preferences"></div>
                    </div>
                </uib-accordion>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <uib-accordion>
                    <div uib-accordion-group class="panel-default" is-open="vm.demographicsIsOpen">
                        <uib-accordion-heading>
                            <span class="text-md brand-blue"><span class="icon icon-pencil">&nbsp;</span>Demographic Information <i class="glyphicon pull-right padding-xxs-top text-xxs" ng-class="{'glyphicon-chevron-right': vm.demographicsIsOpen, 'glyphicon-chevron-down': !vm.demographicsIsOpen}"></i></span>
                        </uib-accordion-heading>
                        <div ui-view="demographic-info"></div>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>
