<div class="modal-header text-center">
    <div class="margin-md-bottom">
        <img src="https://unsplash.it/100/100?image=1005" class="member-photo">
    </div>
    <h3 class="modal-title text-center padding-sm-bottom" id="member-modal-title">{{vm.member.FirstName}} {{vm.member.LastName}}</h3>
    <div class="member-role">{{vm.member.Title}} <span ng-show="vm.member.Title && vm.member.Company.Name">at</span> {{vm.member.Company.Name}}</div>
    <div class="member-location">
        <span class="glyphicon glyphicon-map-marker"></span>
        <span> {{vm.member.Address.City}}<span ng-if="vm.member.Address.City && vm.member.Address.StateProvince">,</span> {{vm.member.Address.StateProvince}}</span>
        <span ng-show="!vm.member.Address.City && !vm.member.Address.StateProvince"><i>Not Available</i></span>
    </div>
</div>
<div class="modal-body" id="member-modal-body">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-xs-5">
                    Email
                </div>
                <div class="col-xs-7">
                    {{vm.member.Email1}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    Phone Number
                </div>
                <div class="col-xs-7">
                    <span class="member-contact" ng-if="vm.member.Phone.CountryCode && vm.member.Phone.AreaCode && vm.member.Phone.Phone">{{vm.member.Phone.CountryCode}}-{{vm.member.Phone.AreaCode}}-{{vm.member.Phone.Phone}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.close()">Close</button>
</div>