<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Terms and Conditions</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>
        Membership within MPI belongs to the individual, supplier or planner who originally joins the association, rather than the employing organization. 
        MPI membership dues are non-refundable and membership is transferable only with member’s permission. Membership is for 12 months. Renewal membership 
        fees are payable retroactive to original due date.
    </p>
    <p>
        The following descriptions outline eligibility for membership.
        <ul>
            <li>
                REGULAR MEMBERSHIP: Persons engaged in the meeting industry or who provide materials and services to it, for business and industry, trade 
                associations and professional societies, church and religious organizations, educational institutions, fraternal groups, labor unions, and 
                others shall be eligible for regular membership.
            </li>
            <li>
                STUDENT MEMBERSHIP: Individuals actively enrolled in a post-secondary academic program shall be eligible for student membership.
            </li>
        </ul>
    </p>
    <p>
        As a member of MPI you agree to follow the MPI Policy Manual standards of membership. In summary;
        <ul>
            <li>
                Display high ethical standards; (adhere to MPI Principles of Professionalism);
            </li>
            <li>
                Support MPI global programs and activities designed to assist members or contribute to the benefit of the industry;
            </li>
            <li>
                Share the knowledge one has with others to continue to strengthen the effectiveness of the worldwide industry and its professionals; and
            </li>
            <li>
                Use the services and programs offered by the Association without the expectations of the Association substituting for company marketing and 
                sales activities.
            </li>
        </ul>
    </p>
    <p>
        If you have any questions or would like to transfer a membership, contact Member Services at 866.318.2743.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.close()">Close</button>
</div>