@font-face {
    font-family: 'MuseoSans-300';
    src: url('../fonts/Museo Sans/MuseoSans-300.otf') format('opentype');
}

@font-face {
    font-family: 'MuseoSans-500';
    src: url('../fonts/Museo Sans/MuseoSans_500.otf') format('opentype');
}

@font-face {
    font-family: 'MuseoSans-700';
    src: url('../fonts/Museo Sans/MuseoSans_700.otf') format('opentype');
}

@font-face {
    font-family: 'MuseoSlab-500';
    src: url('../fonts/Museo Slab/Museo_Slab_500.otf') format('opentype');
}

@font-face {
    font-family: 'MuseoSlab-300Italic';
    src: url('../fonts/Museo Slab/Museo_Slab_300italic.otf') format('opentype');
}

.sans-300 {
    font-family: 'MuseoSans-300';
}

.sans-500 {
    font-family: 'MuseoSans-500';
}

.sans-700 {
    font-family: 'MuseoSans-700';
}

.slab-500 {
    font-family: 'MuseoSlab-500';
}

.slab-300italic  {
    font-family: 'MuseoSlab-300Italic';
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?8wdzuj');
  src:  url('../fonts/icomoon/icomoon.eot?8wdzuj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?8wdzuj') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?8wdzuj') format('woff'),
    url('../fonts/icomoon/icomoon.svg?8wdzuj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.social-media-facebook {
  content: url('images/Facebook30px.png');
  &:hover {
    content: url('images/Facebook-hover.png');
  }
}

.social-media-twitter {
  content: url('images/Twitter30px.png');
  &:hover {
    content: url('images/Twitter-hover.png');
  }
}

.social-media-linkedin {
  content: url('images/LinkedIn30px.png');
  &:hover {
    content: url('images/LinkedIn-hover.png');
  }
}

.social-media-instagram {
  content: url('images/Instagram30px.png');
  &:hover {
    content: url('images/Instagram-hover.png');
  }
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-cog:before {
  content: "\e994";
}
.icon-glass:before {
  content: "\e9a0";
}
.icon-glass2:before {
  content: "\e9a1";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-images:before {
  content: "\e90e";
}
.icon-pushpin:before {
  content: "\e946";
}
