@media (min-width: 768px){
    h1 {
        font-family: 'MuseoSlab-500';
        font-size: $text-title-lg;
    }

    h2 {
        font-family: 'MuseoSlab-500';
        font-size: $text-title-md;
    }

    h3 {
        font-family: 'MuseoSlab-500';
        font-size: $text-title-sm;
    }

    h4 {
        font-family: 'MuseoSlab-500';
        font-size: $text-lg;
    }

    h5 {
        font-family: 'MuseoSlab-500';
        font-size: $text-md;
    }

    h6 {
        font-family: 'MuseoSlab-500';
        font-size: $text-sm;
    }
    .dashboard {
        font-family: 'MuseoSans-300';
        font-size: $text-sm;
    }
}

@media (max-width: 768px){
    h1 {
        font-family: 'MuseoSlab-500';
        font-size: $text-xl;
    }

    h2 {
        font-family: 'MuseoSlab-500';
        font-size: $text-lg;
    }

    h3 {
        font-family: 'MuseoSlab-500';
        font-size: $text-md;
    }

    h4 {
        font-family: 'MuseoSlab-500';
        font-size: $text-sm;
    }

    h5 {
        font-family: 'MuseoSlab-500';
        font-size: $text-xs;
    }

    h6 {
        font-family: 'MuseoSlab-500';
        font-size: $text-xxs;
    }
    .dashboard {
        font-family: 'MuseoSans-300';
        font-size: $text-xs;
    }
}

body {
    color: $darkest-grey !important;
    font-family: 'MuseoSans-300';
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
}
::placeholder {
    color: $light-grey;
}
a {
    cursor: pointer !important;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #B6B6B6;
}
