input {
    font-family: 'MuseoSans-300';
    border: solid 1px $light-grey;
    border-radius: 2px;
    overflow: hidden;
    padding: 5px;
    color: $light-grey;
    &:focus {
        outline: none;
    }
}

.login-input {
    width: 100%;
    padding: 10px;
}

.login-password {
    margin: 0 auto;
    width: 100%;
    border: solid 1px $light-grey;
    border-radius: 2px;
    padding: 3px;
    .form-control {
        color: $light-grey;
    }
    input {
        border: none;
        box-shadow: none;
        padding-left: 8px;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .input-group-addon {
        background: $white;
        border: none;
    }
}
select {
    background: $white;
    width: 100%;
    .styled-select {
        padding: 5px;
    }
}
