header {
    height: 110px;
    padding: 10px 0px;
    background-color: $white;
}

.nav-wrapper {
    min-height: 110px;
}

nav {
    font-family: 'MuseoSans-300';
    z-index: 10;
    &#nav {
        height: 110px;
        #nav-container {
            height: 100%;
            > .navbar-header {
                height: 100%;
            }
        }
        #navbar > ul {
            font-size: $text-sm;
            text-transform: uppercase;
        }
        &.affix {
            position: fixed;
            top: 0;
            width: 100%;
        }
    }
}

.navbar-default {
    background: $white;
}

.navbar-right {
    margin-right: 0px;
    div {
        border: solid 1px $light-grey;
        border-radius: 4px;
        overflow: hidden;
    }
    .glyphicon-search {
        color: $light-grey;
    }
    input {
        border: none;
        padding: 5px;
        color: $dark-grey;
        &:focus {
            outline: none;
        }
    }
    #profile-picture{
        max-width: 40px;
    }
    .img-circle {
        float: right;
        max-width: 95%;
    }
}

.dropdown-menu {
    box-shadow: none;
}

#subnav-container {
    background-color: $brand-blue;
    a {
        color: $white;
        font-size: $text-sm;
    }
}

#subnav-container {
    border: none;
    .center-subnav-list {
        float: right;
        position: relative;
        left: -50%;
        text-align: left;
        ul {
            list-style: none;
            position: relative;
            left: 50%;
            li {
                float: left;
                position: relative;
            }
        }
    }
}

#subnav-container .navbar-nav > .active > a {
    background: transparent;
    border-bottom: solid 3px $white;
}

footer {
    font-family: 'MuseoSans-300';
    padding-top: 19px;
    border-top: solid 5px $brand-green;
    .copyright {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .footer-category {
        font-family: 'MuseoSans-700';
    }
}

@media (min-width: 1365px) {
    #navbar > ul {
        padding-top: 25px;
    }
    #nav-container {
        padding-left: 50px;
        padding-right: 50px;
    }
    #subnav-container {
        padding-left: 50px;
        padding-right: 50px;
    }
    .navbar-nav > li {
        margin-left: 30px;
    }
    .footer-logo {
        text-align: left;
    }
}

@media (max-width: 1365px) {
    #navbar > ul {
        padding-top: 25px;
    }
    #nav-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    #subnav-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-nav > li {
        margin-left: 15px;
    }
    input {
        width: 100px;
    }
    .footer-logo {
        text-align: left;
    }
}

// Medium Screen
@media (max-width: 1200px) {
    #navbar > ul {
        padding-top: 25px;
    }
    #nav-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    #subnav-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    #profile-picture {
        margin-left: 15px;
    }
    nav > .container {
        width: 100%;
    }
    .navbar-nav > li {
        margin-left: 2px;
    }
    .footer-logo {
        text-align: left;
    }
}

// Small Screen
@media (max-width: 992px) { 
    #navbar > ul {
        padding-top: 25px;
        li a {
            font-size: $text-xs;
        }
    }
    .navbar-right {
        input {
            width: 80px;
        }
    }
    #profile-picture {
        margin-left: 3px;
    }
    #profile-caret {
        padding-left: 3px;
        padding-right: 3px;
    }
}

// Extra Small Screen
@media (max-width: 767px) {
    #navbar-logo {
        margin-left: -30%;
    }
    #navbar > ul {
        padding-top: 0px;
        background-color: $white;
        li {
            padding-left: 10px;
        }
    }
    #navbar hr {
        margin: 0px;
        border-top: solid 1px $border-grey;
    }
    .icon-bar {
        background-color: $light-grey;
    }
    .navbar-header > button {
         &#hamburger {
            border: none;
            float: left;
            margin-top: 45px;
        }
        &#search-btn {
            border: none;
            float: right;
            margin-top: 45px;
        }
    }
    .nav > li > input {
        border: none;
        width: 100%;
        padding: 10px 15px 10px 15px;
        line-height: 20px;

        &:focus {
            outline: none;
        }
    }
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        display: block;
    }
    .navbar-nav > li { 
        &.collapse-button {
            background: $brand-blue; 
            > a { 
                color: $white;
            }
        }
    }
    .footer-logo {
        text-align: center;
        padding-bottom: 25px;
        img {
            display: inline;
        }
    }
}
