.news-card {
    .panel {
        border-bottom-width: 3px;
        border-bottom-color: $brand-green;
        border-radius: 1px;
    }
    .panel-body {
        padding-right: 20px;
        padding-left: 20px;
    }
    .panel-category {
        font-family: 'MuseoSans-700';
        font-weight: $bold;
        text-transform: uppercase;
        color: $light-grey;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-top: 30px;
    }
    .panel-title {
        font-family: 'MuseoSlab-500';
        padding-top: 0px;
        padding-bottom: 0px;
        display: block; 
        display: -webkit-box;
        margin: 0 auto;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .panel-detail {
        font-family: 'MuseoSans-300';
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-bottom: 30px;
    }
    .info-badge{
        font-family: 'MuseoSlab-500';
        position: absolute;
        left: 25px;
        top: 10px;
        background: $brand-green;
        text-align: center;
        border-radius: 1px;
        color: $white;
        padding: 5px 10px;
        font-size: $text-xs;
    }
}

.news-card-lg {
    .panel-category {
        font-size: $text-sm;
    }
    $line-height: 40px;
    $lines-to-show: 2;
    .panel-title {
        font-size: $text-title-md;
        height: $line-height*$lines-to-show;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
    }
    .panel-image {
        background-size: cover;
        width: 100%;
        //height: 400px;
        position: relative;
    }
    .panel-detail {
        font-size: $text-sm;
    }
}

.news-card-md {
    .panel-category {
        font-size: $text-xxs;
    }

    $line-height: 28px;
    $lines-to-show: 2;

    .panel-title {
        font-size: $text-lg;
        height: $line-height*$lines-to-show;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
    }

    .panel-image {
        background-size: cover;
        width: 100%;
        //height: 275px;
        margin: 0 auto;
        position: relative;
    }

    .panel-detail {
        font-size: $text-sm;
    }
}

.news-card-sm {
    .panel-category {
        font-size: $text-xxs;
    }

    $line-height: 24px;
    $lines-to-show: 2;

    .panel-title {
        font-size: $text-md;
        height: $line-height*$lines-to-show;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
    }

    .panel-image {
        background-size: cover;
        width: 100%;
        //height: 200px;
        margin: 0 auto;
        position: relative;
    }

    .panel-detail {
        font-size: $text-sm;
    }
}

@media (min-width: 992px) {
    .news-card-lg .panel-image {
        height: 400px;
    }

    .news-card-md .panel-image {
        height: 250px;
    }

    .news-card-sm .panel-image {
        height: 200px;
    }
}

@media (max-width: 991px) {
    .news-card-lg .panel-image {
        height: 300px;
    }

    .news-card-md .panel-image {
        height: 225px;
    }

    .news-card-sm .panel-image {
        height: 170px;
    }
}

@media (max-width: 768px) {
    .news-card-lg {
        text-align: center;
        $line-height: 28px;
        $lines-to-show: 2;

        .panel-image {
            height: 200px;
        }

        .panel-title {
            font-size: $text-lg;
            height: $line-height*$lines-to-show;
            line-height: $line-height;
            -webkit-line-clamp: $lines-to-show;
        }
    }
    .news-card-md {
        text-align: center;

        .panel-image {
            height: 200px;
        }
    }
    .news-card-sm {
        .panel {
            border: none;
            background: transparent;
            box-shadow: none;
        }

        .panel-category {
            padding-left: 0px;
            padding-right: 0px;
        }

        .panel-image {
            height: 140px;
        }

        .panel-title {
            padding: 0 0 15px 0;
        }
    }
}
