.gsc-control-cse, .gsc-control-cse .gsc-table-result {
    font-family: 'MuseoSans-300' !important;
}

.gs-snippet, .gs-fileFormat {
    padding-left: 8px;
    padding-right: 8px;
}

.gcsc-branding {
    display: none !important;
}
