.styled-ui-select-container {
    .styled-ui-select {
        border: solid 1px $light-grey;
        border-radius: 2px;
        background: $white;
        width: 100%;
        padding-right: 5px;
        &.has-error {
            border-color: $brand-red;
        }
        .ui-select-container {
            padding: none;
            &btn, .btn-default, .form-control, .ui-select-toggle{
                border: none;
                background: transparent;
                box-shadow: none;
            }
            .ui-select-match {
                outline: none;
                box-shadow: none;
                background: transparent;
            }
        }
        i {
            color: $light-grey;
        }
    }
}
