.tooltip {
    &.in {
		opacity: 1 !important;
	}
    .tooltip-inner {
        font-family: 'MuseoSans-500';
        background: $white;
        border: solid 1px $light-grey;
        color: $light-grey;
        text-align: left;
        position: relative;
		p {
			font-size: $text-xs;
		}
    }
    &.bottom {
		.tooltip-arrow {
			border-bottom-color: $light-grey;
			border-width: 0 10px 10px;
			margin-left: -10px;
			top: -4px;

			&:before {
				content:"\A";
				width: 0;
				height: 0;
				z-index: 9999;
		    position: absolute;
		    top: 1px;
		    left: 50%;
		    border-color: transparent;
		    border-style: solid;
		    margin-left: -9px;
		    border-width: 0 9px 9px;
		    border-bottom-color: white;
			}
		}
	}
}

@media (min-width: 992px) {
	.tooltip {
		.tooltip-inner {
			max-width: 500px;
		}
	}
}

@media (max-width: 992px) { 
	.tooltip {
		.tooltip-inner {
			max-width: 350px;
		}
	}
}
