.tooltip {
    &.in {
		opacity: 1 !important;
	}
    .tooltip-inner {
        font-family: 'MuseoSans-500';
        background: $white;
        border: solid 1px $light-grey;
        color: $light-grey;
        max-width: 500px;
        text-align: left;
        position: relative;
    }
    &.top {
		.tooltip-arrow {
			border-top-color: $light-grey;
			border-width: 10px 10px 0;
			margin-left: -10px;
			bottom: -4px;

			&:before {
				content:"\A";
				width: 0;
				height: 0;
				z-index: 9999;
		    position: absolute;
		    bottom: 1px;
		    left: 50%;
		    border-color: transparent;
		    border-style: solid;
		    margin-left: -9px;
		    border-width: 9px 9px 0;
		    border-top-color: white;
			}
		}
	}
}
